/* 퍼즐게임 */
.aboutme_puzzle.container {
    width: 100%;
    display: flex;
    margin-top: 40px;

    /* 시간초 나오는 부분 */
    .puzzie_title {
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: space-between;

        .logo_run {
            width: 50%;
            display: flex;
            align-items: center;

            .puzzle_logo {
                width: 35px;
                height: 35px;
            }

            .puzzle_time {
                width: 90%;
                text-align: right;
                font-family: var(--fontJ);
                font-size: 20px;
                color: var(--white);
                border-bottom: 2px solid var(--mainColor);
            }
        }

        .logo_text {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: right;

            .info_left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                >img {
                    width: 24px;
                    height: 24px;
                }
            }

            .info_text {
                >p {
                    font-family: var(--fontJ);
                    font-size: 20px;
                    color: var(--white);
                }
            }

            .info_right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                >img {
                    width: 24px;
                    height: 24px;
                }
            }

            .imgimg {
                >img {
                    width: 3rem;
                    height: 3rem;
                    margin-left: 1rem;
                }
            }

            .puzzle_msg {
                background-color: #ECECEC;
                padding: 10px 30px;
                border-radius: 50px;
                margin-left: 1rem;

                .msg_ment {
                    font-family: var(--fontJ);
                    color: var(--black);
                    font-size: 20px;
                }
            }
        }
    }
}

/* 메인 퍼즐게임 */
.puzzle_main.container {
    width: 100%;
    height: 100vh;
    margin-top: 2rem;

    .puzzle_line {
        width: 47%;
        display: contents;

        .puzzle_img {
            >img {
                width: 47%;
                height: 47%;
            }
        }
    }
}

/* 반응형 */
@media (max-width:1520px) {
    .aboutme_puzzle.container {
        .puzzie_title {
            .logo_text {
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: right;
            }
        }
    }
}

@media (max-width:1200px) {
    .aboutme_puzzle.container {
        .puzzie_title {
            .logo_text {
                .info_left {
                    >img {
                        width: 17px;
                        height: 17px;
                    }
                }

                .info_text {
                    >p {
                        font-size: 14px;
                    }
                }

                .info_right {
                    >img {
                        width: 17px;
                        height: 17px;
                    }
                }

                .imgimg {
                    >img {
                        width: 2rem;
                        height: 2rem;
                    }
                }

                .puzzle_msg {
                    padding: 5px 13px;

                    .msg_ment {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width:860px) {
    .aboutme_puzzle.container {
        .puzzie_title {
            .logo_text {
                .puzzle_msg {
                    display: none;
                }
            }
        }
    }
}

@media (max-width:550px) {
    .aboutme_puzzle.container {
        .puzzie_title {
            .logo_run {
                width: 100%;
            }

            .logo_text {
                display: none;
            }
        }
    }
}